# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.suo
*.backup
*.user
*.dbmdl
*.pptx
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe
*.avi
*.mp4
*.mov
*.vsidx
*.rar
*.mdf
*.ldf
**/nuspec.list
**/packages/
**/.sass-cache/
**/node_modules/
**/bower_components/
*/Performance/*TestResults.txt
**/bin
**/obj
**/*.log.1
**/*.log.*
*.log
*.db
.vs/
Publish/
visorParcelas_1/visorParcelas_1/obj/visorParcelas_1.csproj.nuget.g.props
visorParcelas_1/visorParcelas_1/obj/visorParcelas_1.csproj.nuget.dgspec.json
visorParcelas_1/visorParcelas_1/obj/project.nuget.cache
visorParcelas_1/visorParcelas_1/obj/project.assets.json
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/
visorParcelas_1/.vs/visorParcelas_1/v17/DocumentLayout.json
visorParcelas_1/.vs/visorParcelas_1/v17/.suo
