# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.suo
*.backup
*.user
*.dbmdl
*.pptx
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe
*.avi
*.mp4
*.mov
*.vsidx
*.rar
*.mdf
*.ldf
**/nuspec.list
**/packages/
**/.sass-cache/
**/node_modules/
**/bower_components/
*/Performance/*TestResults.txt
**/bin
**/obj
**/*.log.1
**/*.log.*
*.log
*.db
.vs/
Publish/
visorParcelas_1/visorParcelas_1/obj/visorParcelas_1.csproj.nuget.g.props
visorParcelas_1/visorParcelas_1/obj/visorParcelas_1.csproj.nuget.dgspec.json
visorParcelas_1/visorParcelas_1/obj/project.nuget.cache
visorParcelas_1/visorParcelas_1/obj/project.assets.jsonvisorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.pdb
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.genruntimeconfig.cache
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.GeneratedMSBuildEditorConfig.editorconfig
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.dll
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.csproj.FileListAbsolute.txt
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.csproj.CoreCompileInputs.cache
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.csproj.AssemblyReference.cache
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.assets.cache
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.AssemblyInfoInputs.cache
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/visorParcelas_1.AssemblyInfo.cs
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/refint/visorParcelas_1.dll
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/ref/visorParcelas_1.dll
visorParcelas_1/visorParcelas_1/obj/Debug/net8.0/apphost.exe
visorParcelas_1/visorParcelas_1/bin/Debug/net8.0/visorParcelas_1.pdb
visorParcelas_1/visorParcelas_1/bin/Debug/net8.0/visorParcelas_1.exe
visorParcelas_1/visorParcelas_1/bin/Debug/net8.0/visorParcelas_1.dll
visorParcelas_1/.vs/visorParcelas_1/v17/DocumentLayout.json
visorParcelas_1/.vs/visorParcelas_1/v17/.suo
visorParcelas_1\visorParcelas_1\obj\Debug\net8.0\ApiEndpoints.json
visorParcelas_1/WindowsFormsApp1/Formulario.csproj
visorParcelas_1/visorParcelas_1.sln
